*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.interface{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

input{
    text-align: center;
}